@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: #3f3f3f;
}

.bg-purple {
  background: #fde2ff;
  height: 548px;
  width: 100%;
}

.bg-blue {
  background: #d6e6ff;
  height: 548px;
  width: 100%;
}

.product {
  width: 1034px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding: 50px 56px 55px 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 301px;
  height: 383px;
}

.upper {
  position: relative;
  width: 548px;
  height: 484px;
}

.title-men {
  font-weight: 600;
  font-size: 28px;
  color: #002772;
  line-height: 34px;
}

.title-women {
  font-weight: 600;
  font-size: 28px;
  color: #720060;
  line-height: 34px;
}

.rating-category {
  margin-bottom: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
}

.category {
  line-height: 22px;
  font-synthesis: 18px;
  font-weight: 400;
}

.rate {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  margin-right: 5px;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.active-men {
  width: 18px;
  height: 18px;
  background: #002772;
  border-radius: 50%;
}

.active-women {
  width: 18px;
  height: 18px;
  background: #720060;
  border-radius: 50%;
}

.disabled-men {
  border: 1px solid #002772;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.disabled-women {
  border: 1px solid #720060;
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.desc {
  margin-top: 21px;
}

.price-men {
  margin-top: calc(16px + 0.5px);
  color: #002772;
  font-size: 28px;
  font-weight: 600;
}

.price-women {
  margin-top: calc(16px + 0.5px);
  color: #720060;
  font-size: 28px;
  font-weight: 600;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.wrapper-btn {
  margin-top: 15px;
}

.buy-men {
  display: inline-block;
  background: #002772;
  outline: none;
  border: 3px solid #002772;
  border-radius: 4px;
  padding: 9px 80px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-right: 19px;
  cursor: pointer;
}

.buy-women {
  display: inline-block;
  background: #720060;
  outline: none;
  border: 3px solid #720060;
  border-radius: 4px;
  padding: 9px 80px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  margin-right: 19px;
  cursor: pointer;
}

.next-men {
  display: inline-block;
  background: #fff;
  outline: none;
  border: 3px solid #002772;
  border-radius: 4px;
  padding: 9px 66px;
  color: #002772;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.next-women {
  display: inline-block;
  background: #fff;
  outline: none;
  border: 3px solid #720060;
  border-radius: 4px;
  padding: 9px 66px;
  color: #720060;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
